<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @reservation.event %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
